@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">!! TE FELICITO !!<br />JORGE MERCADILLO <br />! GOOD JOB !</h1>
    <H2>LOGRASTE INSTALAR LA ESTRUCTURA BASE PARA UNA APLICACION, <br />CON LA ARQUITECTURA N CAPAS</a>.</H2>
</div>
